@import url('https://fonts.googleapis.com/css?family=Exo+2:900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,800,900,900i');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600');

#piechart-container {
   
    margin-right: 1rem;
    width: 40rem;
    height: 40rem;
   
}

#heatmap{
    width: 90%;
   
   
   
   
    margin-top: 4rem;
   
}

#saleschart{
   margin-top:5rem;
   width:800px;

}

.analytic-header {
    color:lightgray;
    font-size:2em;
}



.piechart-header {
    color:white;
}
hr {
   
    border: 0;
    height: 1px;
    color:white;
}


