@import url('https://fonts.googleapis.com/css?family=Exo+2:900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,800,900,900i');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600');

#piechart-container {
    margin-left: 15rem;
    width: 40rem;
    height: 40rem;
}

#heatmap{
    width: 60%;
    float: right;
    margin: auto;
    margin-top: 50px;
}

#saleschart{
    margin: auto;
}

