
@import url('https://fonts.googleapis.com/css?family=Exo+2:900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,800,900,900i');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600');
* {
  font-family:'Raleway';
}
.brand-logo {
  width:50px;

}
body {
	background-color:#F0F8FF;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5vw;
	color:White;
	padding: 5rem 0;
	text-shadow: 0px 4px 48px rgba(255,255,255,0.2);
}

#patients {
	color:gray;
}

#container-square{
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	background: {
		image:  url(https://images.unsplash.com/photo-1483094035713-218a81c0d971?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6404d9c8f0f00919533121363b194f4c&auto=format&fit=crop&w=746&q=80);
		blend-mode: multiply;
    size: cover;
  }
  height:500px;
  overflow: hidden;
  margin-left:10px;
  margin-right:10px;
  opacity:0.9;
}

.blocks-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 15rem;
    transform: translateX(-50%);
	opacity: 0.75;
}

.blocks {
	width: 100%;
	height: auto;
	overflow: visible;
	
	rect {
		
    fill: none;
    fill:	#0A7E8C;
    stroke:pink;
    stroke-width:5;
    fill-opacity:0.5;
    stroke-opacity:0;
	}
	
	> g > g:nth-of-type(3n) circle {
		stroke: #87f5fb;
	}
	
	> g > g:nth-of-type(4n) circle {
		stroke: #8be8cb;
	}
	
}

.blocks-large {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g:nth-of-type(1) {
		animation: up 10.5s infinite;
		
		g {
			transform: translateX(350px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(2) {
		animation: up 8s 250ms infinite;
		
		g {
			transform: translateX(450px);
		}

		rect{
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(3) {
		animation: up 14s 750ms infinite;
		
		g {
			transform: translateX(700px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(4) {
		animation: up 5.5s 1.5s infinite;
		
		g {
			transform: translateX(500px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(5) {
		animation: up 6.5s 4s infinite;
		
		g {
			transform: translateX(675px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}

}

.blocks-small {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g rect {
		transform: scale(0);
	}

	g:nth-of-type(1) {
		animation: up 20s infinite;
		
		g {
			transform: translateX(350px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(2) {
		animation: up 10s infinite;
		
		g {
			transform: translateX(750px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(3) {
		animation: up 5.25s 250ms infinite;
		
		g {
			transform: translateX(350px);
		}

	  rect {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(4) {
		animation: up 5.75s 325ms infinite;
		
		g {
			transform: translateX(180px);
		}

		rect {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}

	g:nth-of-type(5) {
		animation: up 6s 125ms infinite;
		
		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(6) {
		animation: up 5.13s 250ms infinite;
		
		g {
			transform: translateX(650px);
		}

		rect {
			animation: wobble 3s 125ms infinite ease-in-out;
		}

	}

	g:nth-of-type(7) {
		animation: up 6.25s 350ms infinite;
		
		g {
			transform: translateX(480px);
		}

		circle {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}
	

	
}

@keyframes wobble {
	
	33% {
		transform: translateX(-50px);
	}
	
	66% {
		transform: translateX(50px);
	}
	
}

@keyframes up {

	0% {
		opacity: 0;
	}
	
	10%, 90% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		transform: translateY(-1024px);
	}
	
}

.main-header {
  height:75px;
  padding-bottom:5px;
}



.team-container {
	background-color:gray;
}

.card {
	width: 26rem;
	border:2px solid black;
	height:35rem;

	img {
		width:25rem;
		padding-left:5px;
		padding-right:5px;
		padding-top:5px;
	}
	.card-body {
		padding-left:5px;
		padding-right:5px;
		weight:bold;
	}
 footer {
	 border-top:1px solid black; 
 }
 .card-price {
	 float:right;
	 margin-right:5px;
	 margin-top:5px;
 }
#details-button {
	margin-top:5px;
	margin-left:5px;
}
}

#navbar{
	background-color: white !important;
	position:fixed !important;
}

.brand-image {
	width:50px;
}

.brand-title {
	font-family: 'Hind Vadodara', sans-serif;
	font-weight:400; 
	font-size:2rem;
	color:#236B8E
}

.navbar-buttons {
	display:inline-block;
	margin-right: 70px;
}

.sidebar-logo {
	height:75px;
}

.patient-home-container {
	margin-left:280px;
	margin-top:40px;
}

.add-contacts-container {
	margin-left:400px;
}

.pending-contracts-container {
	margin-left:300px;
	margin-top:40px;
}

.login-button {
	width:300px !important;
	color:#236B8E !important;
	
  }

  .pharma-home-container{
	margin-left:280px;
	margin-top:40px;
  }

  .pharma-pending-container {
	  margin-left:300px;
	  margin-top:40px;
  }

  .pharma-products-container {
	  margin-left:300px;
	  margin-top:40px;
  }

  .pharma-profile-container {
	  margin-left:300px;
	  margin-top:40px;
  }

  .pending-contract-card {
	  height:100px;
	  width:40px;
  }

  .completed-contracts-container {
	  margin-left:300px;
	  margin-top:40px;
  }

  .pharma-completed-container {
	  margin-left:300px;
	  margin-top:40px;
  }

  .pending-contract-image {
	  height:200px;
  }

  .login-container {
	  height:900px;
  }

  .section-a-logo {
	  size:3rem;
	  color:black;
  }