
@import url('https://fonts.googleapis.com/css?family=Exo+2:900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,800,900,900i');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
* {
  font-family:'Raleway';
}
.brand-logo {
  width:50px;

}
body {
	background-color:#F0F8FF;

	
}

main {
	padding-left:18px;
	padding-right:18px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5vw;
	color:White;
	padding: 5rem 0;
	text-shadow: 0px 4px 48px rgba(255,255,255,0.2);
}

#patients {
	color:gray;
}

#container-square{
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	background: {
		image:  url(https://images.unsplash.com/photo-1483094035713-218a81c0d971?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6404d9c8f0f00919533121363b194f4c&auto=format&fit=crop&w=746&q=80);
		blend-mode: multiply;
    size: cover;
  }
  height:600px;
  overflow: hidden;
  
  opacity:0.9;
}

.blocks-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 15rem;
    transform: translateX(-50%);
	opacity: 0.75;
}

.blocks {
	width: 100%;
	height: auto;
	overflow: visible;
	
	rect {
		
    fill: none;
    fill:	#0A7E8C;
    stroke:pink;
    stroke-width:5;
    fill-opacity:0.5;
    stroke-opacity:0;
	}
	
	> g > g:nth-of-type(3n) circle {
		stroke: #87f5fb;
	}
	
	> g > g:nth-of-type(4n) circle {
		stroke: #8be8cb;
	}
	
}

.blocks-large {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g:nth-of-type(1) {
		animation: up 10.5s infinite;
		
		g {
			transform: translateX(350px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(2) {
		animation: up 8s 250ms infinite;
		
		g {
			transform: translateX(450px);
		}

		rect{
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(3) {
		animation: up 14s 750ms infinite;
		
		g {
			transform: translateX(700px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(4) {
		animation: up 5.5s 1.5s infinite;
		
		g {
			transform: translateX(500px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(5) {
		animation: up 6.5s 4s infinite;
		
		g {
			transform: translateX(675px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}

}

.blocks-small {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g rect {
		transform: scale(0);
	}

	g:nth-of-type(1) {
		animation: up 20s infinite;
		
		g {
			transform: translateX(350px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(2) {
		animation: up 10s infinite;
		
		g {
			transform: translateX(750px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(3) {
		animation: up 5.25s 250ms infinite;
		
		g {
			transform: translateX(350px);
		}

	  rect {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(4) {
		animation: up 5.75s 325ms infinite;
		
		g {
			transform: translateX(180px);
		}

		rect {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}

	g:nth-of-type(5) {
		animation: up 6s 125ms infinite;
		
		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(6) {
		animation: up 5.13s 250ms infinite;
		
		g {
			transform: translateX(650px);
		}

		rect {
			animation: wobble 3s 125ms infinite ease-in-out;
		}

	}

	g:nth-of-type(7) {
		animation: up 6.25s 350ms infinite;
		
		g {
			transform: translateX(480px);
		}

		circle {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}
	

	
}

@keyframes wobble {
	
	33% {
		transform: translateX(-50px);
	}
	
	66% {
		transform: translateX(50px);
	}
	
}

@keyframes up {

	0% {
		opacity: 0;
	}
	
	10%, 90% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		transform: translateY(-1024px);
	}
	
}

.main-header {
  height:75px;
  padding-bottom:5px;
}


.team-container {
	background-color:#3c6382;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
}



#navbar{
	background-color: white !important;
	position:fixed !important;
	height:95px;
}

.brand-image {
	width:60px;
}

.brand-title {
	font-family: 'Hind Vadodara', sans-serif;
	font-weight:400; 
	font-size:2.8rem;
	color:#236B8E
}

.navbar-buttons {
	display:inline-block;
	margin-right: 70px;
}

.sidebar-logo {
	height:75px;
}

.patient-home-container {
	margin-left:280px;
	margin-top:60px;
}



.pending-contracts-container {
	margin-left:300px;
	margin-top:60px;
}

.login-button {
	width:300px !important;
	color:#236B8E !important;
	
  }

  .pharma-home-container{
	padding-left:300px;;
	margin-top:60px;
	background-color:#2E4A62;
	padding-top:20px;
	height:2100px;
  }


  .pharma-products-container {
	  margin-left:280px;
	  margin-top:60px;
  }

  .pharma-profile-container {
	  margin-left:300px;
	  margin-top:60px;
  }

  .pending-contract-bid {
	  height:180px;
	  width:40px;
  }

  .completed-contracts-container {
	  margin-left:300px;
	  margin-top:60px;
  }

  .pharma-completed-container {
	  margin-left:300px;
	  margin-top:60px;
  }

  .pending-contract-image {
	  height:200px;
  }

  .login-container {
	  height:900px;
  }

  .section-a-logo {
	  size:2.7em;
	  color:#2F4F4F;
	  padding-left:10px;
	  line-height: 85px;
	  text-align: center;
	  filter: drop-shadow(0px 3px 8px rgba(0,0,0, 0.5));
	  text-outline: 1px solid black;
	  padding-bottom:10px;
	 
  }

  .pharma-active-container {
	  margin-left:300px;
	  margin-top:60px;
  }


  .mission-container {
	
	  padding-top:30px;
	  padding-bottom:30px;
	  background-color:#2E4A62;
	  padding-left:15px;
	  padding-right:15px;
	  
  }



 .blocks-gif {
	 width:750px;
	 
 }

.audience-container {
	margin-left:30px;
	padding-bottom:10px;
}

 #mission-left {
	 margin-left:40px;
	//  color:white;
	 font-size:1.2em;
 }

.blocks-overlay {
   background-color:gray;
}

.card-description {
	font-size:0.6em;
}


.page-headers {
	font-size:2.6em;
	margin-bottom:30px;
	color:#236B8E;
}

.section-a-container {
   margin-left:70px;
   margin-top:70px;
}

.section-a-header {
	text-align:left;
	margin-top:0;
	font-size:1.9em;
	  color: #2E4A62;
}

.mission-header {
	font-size:3em;
	color:gray;
	font-weight:bold;
	text-transform:uppercase;
	
}

.mission-statement {
	text-align:left;
	color:white;
}


.help-header {
  color:#2E4A62;
//   font-weight:bold;
  font-size:2.5em;
  text-transform:uppercase;
}


.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}

.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}


.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}

.team-header {
	font-size:2.5em;
	margin-left:20px;
	color:lightslategray;
	text-transform:uppercase;
}

.team-hover .desk p {
	margin-top:32px;
}

.company-overview {
	color:white;
	
	font-size:3em;
}

.img-responsive {
	width:230px;
	height:230px;
}